<?xml version="1.0"?>
<launch>


<!-- To use this   -->

<!-- get the arguments from  -->
<arg name="profile" default="default" doc="Configuration profile to use" />
<arg name="debug" default="False" doc="Whether debug is on" />
<arg name="plot_profile" default="2channels_pts" doc="The plotting config profile" />


<!-- Start the main plotting interface -->
  <include file="$(find pressure_controller_ros)/launch/plotting.launch">
    <arg name="plot_profile" value="$(arg plot_profile)"/>
  </include>



<!-- Load controller settings -->
  <group>
  	<!-- Start the main serial sender -->
  	<node name="pressure_control_server_node" pkg="pressure_controller_ros" type="command_server.py" respawn="false"
    	output="screen">
      <rosparam file="$(find pressure_controller_ros)/config/comms/hid_config.yaml" command="load"/>
      <param name="DEBUG" type="bool" value="$(arg debug)"/>
    </node>

    <!-- Load the config node and settings.
         This will wait for the command server to be set up -->
    <node name="config_node" pkg="pressure_controller_ros" type="config.py" respawn="false"
    	output="screen">
    	<rosparam file="$(find pressure_controller_ros)/config/$(arg profile).yaml" command="load"/>
      <param name="profile_name" type="string" value="$(arg profile)"/>
      <param name="DEBUG" type="bool" value="$(arg debug)"/>
    </node>

    <!-- Load the setpoint node and settings.
         This needs to wait for the config process to finish-->
    <node name="setpoint_server_node" pkg="pressure_controller_ros" type="setpoint_server.py" respawn="false"
      output="screen">
      <param name="DEBUG" type="bool" value="$(arg debug)"/>
    </node>
  </group>


</launch>