<?xml version="1.0"?>
<launch>
    <!-- get the arguments from  -->
    <arg name="profile" default="default" doc="Configuration profile to use" />
    <arg name="debug" default="False" doc="Whether debug is on" />
    <arg name="suffix" default="0" doc="Suffix to add to nodes" />
    <arg name="config_package" default="pressure_controller_ros" doc="The package where config profiles are stored" />

    <!-- Generate helper arguments -->
    <arg name="_path_helper" value="$(eval find(arg('config_package')))" />
    <arg name="_suffix_helper"     if="$(arg suffix)" value="_$(arg suffix)"  />
    <arg name="_suffix_helper" unless="$(arg suffix)" value=""  />


    <!-- Load controller settings -->
    <group>
        <!-- Load the config node and settings.
            This will wait for the command server to be set up -->
        <node name="config_node$(arg _suffix_helper)" pkg="pressure_controller_ros" type="config.py" respawn="false"
            output="screen">
            <rosparam file="$(arg _path_helper)/config/control/$(arg profile).yaml" command="load"/>
            <param name="profile_name" type="string" value="$(arg profile)"/>
            <param name="DEBUG" type="bool" value="$(arg debug)"/>
        </node>


        <!-- Load the setpoint node and settings.
        This needs to wait for the config process to finish-->
        <node name="setpoint_server_node$(arg _suffix_helper)" pkg="pressure_controller_ros" type="setpoint_server.py" respawn="false"
        output="screen">
            <param name="DEBUG" type="bool" value="$(arg debug)"/>
        </node>
    </group>
</launch>