<?xml version="1.0"?>
<launch>

<!-- Start the main plotting interface and console-->
<arg name="plot_profile" default="4channels" doc="The plotting config profile" />
<arg name="config_package" default="pressure_controller_ros" doc="The package where config profiles are stored" />

<!-- Generate helper arguments -->
<arg name="_path_helper" value="$(eval find(arg('config_package')))" />

<group>
  <node name="pressure_plot"
        pkg="rqt_multiplot"
        type="rqt_multiplot"
        respawn="true"
        args="--force-discover --multiplot-config $(arg _path_helper)/config/plotting/$(arg plot_profile).xml --multiplot-run-all" />

  <node name ="console" pkg="rqt_console" type="rqt_console" />
</group>


</launch>